body {
    position: relative;
    margin: 0;
    background: #4DC9CC;
}

#gear1 {
    position: absolute;
    animation: bounce1 4s linear 0s infinite;
    top: 0px;
    left: 0px;
}

#gear2 {
    position: absolute;
    animation: bounce2 4s linear 0s infinite;
    top: 34px;
    left: 168px;
}

@keyframes bounce1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}